@use "@fremtind/jkl-core/jkl";

.container {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  height: 500px;
}

.backgroundImage {
  background-image: url("fremtind.png");
  background-size: cover;
  height: 100vh;
}

.counter {
  @include jkl.text-style("title");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.scoreBoard {
  @include jkl.text-style("title-small");
  display: flex;
  justify-content: space-evenly;
  padding-top: #{jkl.$spacing-40};

  div {
    display: flex;
  }
}

.movingCockroach1 {
  font-size: 80px;
  animation: slideRight 4s linear infinite;
  display: inline-block;
  width: auto;
  cursor: pointer;
  animation-play-state: running;
}
.movingCockroach2 {
  font-size: 80px;
  animation: slideRight 5s linear infinite;
  display: inline-block;
  width: auto;
  cursor: pointer;
  animation-play-state: running;
}
.movingCockroach3 {
  font-size: 80px;
  animation: slideRight 3s linear infinite;
  display: inline-block;
  width: auto;
  cursor: pointer;
  animation-play-state: running;
}
.movingCockroach4 {
  font-size: 80px;
  animation: slideRight 6s linear infinite;
  display: inline-block;
  width: auto;
  cursor: pointer;
  animation-play-state: running;
}

.hammer {
  position: relative;
  font-size: 20px;
  z-index: 10000;
  right: 50%;
}

@keyframes slideRight {
  0% {
    transform: translateX(-100%);
    width: 100%;
  }
  100% {
    transform: translateX(100%);
    width: 100%;
  }
}
