@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap");
.container {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  height: 500px;
  padding-top: 80px;
}

.backgroundImage {
  background-image: url("office.png");
  background-size: cover;
  height: 100vh;
}

.counter {
  font-size: 300px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Pixelify Sans", sans-serif;
}

.scoreBoard {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 400;
  display: flex;
  justify-content: space-evenly;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: white;
  border: 3px solid black;
  border-radius: 10px 10px 0 0;
}
@media (min-width: 680px) {
  .scoreBoard {
    font-size: 2.75rem;
    line-height: 3.25rem;
    font-weight: 400;
  }
}
.scoreBoard div {
  display: flex;
  align-items: baseline;
}
.scoreBoard p {
  font-family: "Pixelify Sans", sans-serif;
  padding-left: 10px;
}

.movingCockroach1 {
  font-size: 60px;
  animation: slideRight 4s linear infinite;
  display: inline-block;
  width: auto;
  cursor: pointer;
  animation-play-state: running;
}
.movingCockroach1 img {
  width: 40px;
}

.movingCockroach2 {
  font-size: 60px;
  animation: slideRight 5s linear infinite;
  display: inline-block;
  width: auto;
  cursor: pointer;
  animation-play-state: running;
}
.movingCockroach2 img {
  width: 40px;
}

.movingCockroach3 {
  font-size: 60px;
  animation: slideRight 3s linear infinite;
  display: inline-block;
  width: auto;
  cursor: pointer;
  animation-play-state: running;
}
.movingCockroach3 img {
  width: 40px;
}

.movingCockroach4 {
  font-size: 60px;
  animation: slideRight 6s linear infinite;
  display: inline-block;
  width: auto;
  cursor: pointer;
  animation-play-state: running;
}
.movingCockroach4 img {
  width: 40px;
}

.movingCockroach5 {
  font-size: 60px;
  animation: slideRight 4.8s linear infinite;
  display: inline-block;
  width: auto;
  cursor: pointer;
  animation-play-state: running;
}
.movingCockroach5 img {
  width: 40px;
}

.movingCockroach6 {
  font-size: 60px;
  animation: slideRight 8s linear infinite;
  display: inline-block;
  width: auto;
  cursor: pointer;
  animation-play-state: running;
}
.movingCockroach6 img {
  width: 40px;
}

.movingCockroach7 {
  font-size: 60px;
  animation: slideRight 8.5s linear infinite;
  display: inline-block;
  width: auto;
  cursor: pointer;
  animation-play-state: running;
}
.movingCockroach7 img {
  width: 40px;
}

.movingCockroach8 {
  font-size: 60px;
  animation: slideRight 9s linear infinite;
  display: inline-block;
  width: auto;
  cursor: pointer;
  animation-play-state: running;
}
.movingCockroach8 img {
  width: 40px;
}

.movingCockroach8 {
  font-size: 60px;
  animation: slideRight 3.3s linear infinite;
  display: inline-block;
  width: auto;
  cursor: pointer;
  animation-play-state: running;
}
.movingCockroach8 img {
  width: 40px;
}

.movingCockroach9 {
  font-size: 60px;
  animation: slideRight 5.3s linear infinite;
  display: inline-block;
  width: auto;
  cursor: pointer;
  animation-play-state: running;
}
.movingCockroach9 img {
  width: 40px;
}

.movingCockroach10 {
  font-size: 60px;
  animation: slideRight 4.1s linear infinite;
  display: inline-block;
  width: auto;
  cursor: pointer;
  animation-play-state: running;
}
.movingCockroach10 img {
  width: 40px;
}

.movingCockroach11 {
  font-size: 60px;
  animation: slideRight 7.1s linear infinite;
  display: inline-block;
  width: auto;
  cursor: pointer;
  animation-play-state: running;
}
.movingCockroach11 img {
  width: 40px;
}

.movingCockroach12 {
  font-size: 60px;
  animation: slideRight 10s linear infinite;
  display: inline-block;
  width: auto;
  cursor: pointer;
  animation-play-state: running;
}
.movingCockroach12 img {
  width: 40px;
}

.movingCockroach13 {
  font-size: 60px;
  animation: slideRight 13s linear infinite;
  display: inline-block;
  width: auto;
  cursor: pointer;
  animation-play-state: running;
}
.movingCockroach13 img {
  width: 40px;
}

.movingCockroach14 {
  font-size: 60px;
  animation: slideRight 6.1s linear infinite;
  display: inline-block;
  width: auto;
  cursor: pointer;
  animation-play-state: running;
}
.movingCockroach14 img {
  width: 40px;
}

.movingCockroach15 {
  font-size: 60px;
  animation: slideRight 5.1s linear infinite;
  display: inline-block;
  width: auto;
  cursor: pointer;
  animation-play-state: running;
}
.movingCockroach15 img {
  width: 40px;
}

.movingCockroach16 {
  font-size: 60px;
  animation: slideRight 5.5s linear infinite;
  display: inline-block;
  width: auto;
  cursor: pointer;
  animation-play-state: running;
}
.movingCockroach16 img {
  width: 40px;
}

.movingCockroach17 {
  font-size: 60px;
  animation: slideRight 9.5s linear infinite;
  display: inline-block;
  width: auto;
  cursor: pointer;
  animation-play-state: running;
}
.movingCockroach17 img {
  width: 40px;
}

.movingCockroach18 {
  font-size: 60px;
  animation: slideRight 2.5s linear infinite;
  display: inline-block;
  width: auto;
  cursor: pointer;
  animation-play-state: running;
}
.movingCockroach18 img {
  width: 40px;
}

.movingCockroach19 {
  font-size: 60px;
  animation: slideRight 6.8s linear infinite;
  display: inline-block;
  width: auto;
  cursor: pointer;
  animation-play-state: running;
}
.movingCockroach19 img {
  width: 40px;
}

.movingCockroach20 {
  font-size: 60px;
  animation: slideRight 7.8s linear infinite;
  display: inline-block;
  width: auto;
  cursor: pointer;
  animation-play-state: running;
}
.movingCockroach20 img {
  width: 40px;
}

.movingCockroach21 {
  font-size: 60px;
  animation: slideRight 7.8s linear infinite;
  display: inline-block;
  width: auto;
  cursor: pointer;
  animation-play-state: running;
}
.movingCockroach21 img {
  width: 40px;
}

.hammer {
  position: relative;
  z-index: 10000;
  right: 50%;
  animation: wobble 0.8s infinite both;
  border-radius: 0;
  appearance: none;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}
.hammer img {
  width: 80px;
}

.scoreContainer {
  background-color: #fdeab9;
  height: 100vh;
  border-radius: 5px;
  border: 20px solid white;
  box-sizing: border-box;
  display: flex;
}

.finalScore {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.625rem;
  line-height: 2rem;
  font-weight: 400;
  align-items: center;
}
@media (min-width: 680px) {
  .finalScore {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 400;
  }
}
.finalScore p {
  display: inline;
}
.finalScore__content {
  width: 100%;
  text-align: center;
}

.highScore {
  font-family: "Pixelify Sans", sans-serif;
  display: flex;
  justify-content: center;
}

.table {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 400;
}
@media (min-width: 680px) {
  .table {
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 400;
  }
}
.table tr {
  border-bottom: 1px solid black;
}
.table td {
  padding: 10px;
}

@keyframes slideRight {
  0% {
    transform: translateX(-100%);
    width: 100%;
  }
  100% {
    transform: translateX(100%);
    width: 100%;
  }
}
@keyframes wobble {
  0%, 100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

/*# sourceMappingURL=cockroaches.module.css.map */
